PORT = [PORT]
DATABASE_URL=[DATABASE_URL]

JWT_ACCESS_SECRET=[ACCESS TOEKN]
JWT_REFRESH_SECRET=[ACCESS TOKEN]
JWT_ACCESS_EXPIRES_IN=[A_T EXPIRE TIME]
JWT_REFRESH_EXPIRES_IN=[R_T EXPIRE TIME]
BCRYPT_SALT_ROUNDS = [SALT ROUND] 